@model COMP2084_Class5.Controllers.EngineViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Engine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    @if (Model.Cars.Any())
    {
        <table class="table">
            <thead>
                <tr>
                        <th>
                            Model
                        </th>
                        <th>
                            Make
                        </th>
                        <th>
                            Year
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @foreach(var car in Model.Cars)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => car.Model)
                        </td>
                        <td>
                            @Html.DisplayFor(model => car.Make)
                        </td>
                        <td>
                            @Html.DisplayFor(model => car.Year)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Cars", new { id = car.Id })
                            @Html.ActionLink("Details", "Details", "Cars", new { id = car.Id })
                            @Html.ActionLink("Delete", "Delete", "Cars", new { id = car.Id })
                        </td>
                    </tr>
                }
            </tbody>
       </table>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
